@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 20px;
    background-color: rgb(96, 96, 96);
    background-image: url(bitcoin-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}


#ranking {
    width: 38%;  /* Tamanho do ranking */
    /* border: 1px solid black; */
    padding:  5%;
    background-color:rgba(33, 33, 33, 0.424);
    margin-top: 5%;
    color: white;
}

#transactions{
    color: white;
}

#ranking > div{
    margin-top: 20px;
}

#ranking > div > strong:nth-child(3){
    color: gold;
}

#ranking > h1, #ranking > h2{
    text-align: center;
    margin-top: 0px;
    color: rgb(255, 255, 255);
}

.transactions {
    background-color: rgba(11, 11, 11, 0.369);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    display:flexbox;
    width: 105%;
    
}

.container {
    display: flex;  /* Habilita o Flexbox */
    justify-content: space-between; /* Garante espaçamento entre as divs */
    align-items: flex-start; 
    margin-top: 20px;
}

#botao{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: green;
}







@media (max-width: 480px ){
    
    body{
        font-size: 10px;
    }

    .container{
        flex-direction: column;
    }

    #transactions{
        display: flex;
        flex-direction: column;
        width: 45%;    
        padding: 0px;
    }

    #ranking{
        display: flex;
        flex-direction: column;
        width: 40%;
        
    }
    
    #ranking > div{
        margin-top: 5px;
        padding: 5px;
    }

    
    
    h1{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: left;
        
    }


}
